# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
.env.*
.venv

# VS Code specific files
.vscode/
.history/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Config files with sensitive information
config/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db

# Custom
deep-diver.json
weeklyreport.ipynb
oauth_client_deepdiver.json

# Egg-info files
*.egg-info/
